.section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100svh; /* default */
  width: 100%;
}

.heroImg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  width: 100%;
  height: 100svh; /* default */
}

.heroContent {
  position: absolute;
  z-index: 10;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: #dae2ef;
}
.cardContainer {
  position: absolute;
  z-index: 10;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heroCard {
  width: 600px;
  height: 240px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 40px;
  gap: 30px;
  background: white;
  border-radius: 12px;
}

.cardText {
  display: -webkit-box;
  -webkit-box-orient: vertical;

  line-height: 1.5;
}

.heroButton {
  align-self: flex-start;
  background-color: #e9570b;
  color: black;
  border-radius: 60px;
  width: 150px;
  height: 60px;
  transition: all 0.3s;
}
