.section {
  background: rgba(30, 30, 30, 1);
  padding: 80px 0;
}



.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
}



.leftCard {
  background: transparent;
  padding: 48px;
  margin-top: 70px;
  justify-items: center;
  align-items: flex-start;
  display: flex;
}

.title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 600;
  line-height: 1.1;
}

.description {
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 32px;
  max-width: 520px;
}



.cardsGrid {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  gap: 24px;
  
}

.serviceCard {
  background: rgba(255, 255, 255, 0.92);
  border-radius: 16px;
  padding: 24px;
}

.cardHeader {
  display: grid;
  gap: 12px;
  margin-bottom: 12px;
  font-weight: 600px;
  font-size: 55px;
  color: black;
}

.cardText {
  margin-bottom: 16px;
  color: rgba(0, 3, 7, 0.7);
}



.meetingButton {
  align-self: flex-start;
  background-color: #e9570b;
  color: #f4f2f0;
  border-radius: 10px;
  width: 242px;
  height: 73px;
  transition: all 0.3s;
}

.learnMoreButton {
  background-color: #f4f2f0;
  cursor: pointer;
  color: #e9570b;
  padding: 10px 16px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}



.icon {
  color: #e9570b;
  background-color: rgba(233, 87, 11, 0.08);
  border-radius: 10px;
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
}


@media (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .leftCard {
    padding: 32px;
    text-align: center;
  }

  .title {
    font-size: 44px;
  }

  .description {
    margin: 0 auto 32px;
  }

  .meetingButton {
    align-self: center;
  }
}

/* ================================================= */
/* ================== MOBILE (<=768px) ============== */
/* ================================================= */

@media (max-width: 768px) {
  .section {
    padding: 64px 0;
  }

  .title {
    font-size: 36px;
  }

  .cardsGrid {
    grid-template-columns: 1fr;
  }

  .serviceCard {
    padding: 20px;
  }

  .meetingButton,
  .learnMoreButton {
    width: 100%;
    height: 56px;
  }
}



@media (max-width: 480px) {
  .title {
    font-size: 30px;
  }

  .leftCard {
    padding: 24px 16px;
  }

  .icon {
    width: 44px;
    height: 44px;
  }
}
