.headerWrapper {
    background: #f5f5f5;
    border-bottom: 1px solid #ddd;
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }
  
  .centerLinks {
    flex-grow: 1;
    justify-content: center;
    display: flex;
    gap: 20px;
  }
  
  .navLink {
    color: #555;
    font-weight: 500;
    text-decoration: none;
    position: relative;
    transition: color 0.2s ease;
  }
  
  .navLink:hover {
    color: #ff7f00;
    
  }
  
  /*.navLink:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ff7f00;
    bottom: -2px;
    left: 0;
  }*/
  
  .mobileGroup {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #555;
  }
  
  