.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 5rem 0;
  justify-content: center;
  justify-items: center;
}

/* تبلت */
@media (max-width: 1024px) {
  .cardContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardItem {
    width: 300px;
    height: 200px;
  }
}

/* موبایل */
@media (max-width: 640px) {
  .cardContainer {
    grid-template-columns: 1fr;
    gap: 20px;
    justify-content: center;
  }
}

.cardItem {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  width: 382px;
  height: 286px;
}

.cardImg {
  /* width: 100%;
  height: auto; */
  display: block;
  object-fit: cover;
}

/* title + icon روی عکس */
.cardTitle {
  position: absolute;
  bottom: 12px;
  left: 12px;
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  border-radius: 12px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

/* کوچک‌تر شدن آیکن در موبایل */
@media (max-width: 640px) {
  .cardTitle {
    font-size: 13px;
    padding: 6px 10px;
  }

  .cardTitle img {
    width: 40px !important;
    height: 40px !important;
  }
}
