.bg {
  background-color: #181818;
  width: 100%;
  padding: 5rem 1.5rem; /* ریسپانسیو */
}

.title {
  margin-bottom: 40px;
}

/* === GRID === */
.cardContainer {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 285px);

  gap: 20px;
  justify-content: center; /* کل گرید وسط */
}

/* کارت */
.cardItem {
  /* height: 270px; */
  padding: 15px;
  border-radious: 9px;
  /* width: 280px;  */
}

.cardTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardDesc {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cardid {
  color: #ebeef7;
  font-size: 5rem;
}

/* ===== ریسپانسیو ===== */

/* لپ‌تاپ */
@media (max-width: 1200px) {
  .cardContainer {
    grid-template-columns: repeat(2, 280px);
  }
}

/* تبلت */
@media (max-width: 900px) {
  .cardContainer {
    grid-template-columns: repeat(2, 280px);
  }
}

/* موبایل */
@media (max-width: 600px) {
  .cardContainer {
    grid-template-columns: 280px;
  }

  .cardid {
    font-size: 3rem;
  }
}
